{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main>
  <section class="product__edit">
    <h1 class="title">Редагування товару</h1>
    <form action="/product-edit" method="POST" class="form form--product product-card">
      <div class="form__title form__title--noline">Інформація про товар</div>
      <div class="form__content">
        {{#with data.productToEdit}}
        <div class="form__section"> 
          <div class="form__field">
            <label for="name" class="form__label">Назва товару</label>
            <input type="name" name="name" value={{name}} class="form__input">
          </div>

          <div class="form__field">
            <label for="price" class="form__label">Ціна</label>
            <input type="price" name="price" value={{price}} class="form__input">
          </div>

          <div class="form__field">
            <label for="ID" class="form__label">ID</label>
            <input type="ID" name="ID" value={{id}} class="form__input">
          </div>
        </div>


        <div class="form__field">
          <label for="description" class="form__label">Короткий опис товару</label>
          <input type="description" name="description" value={{description}} class="form__input form__input--big">
          <span class="form__note"> Відображується у картці товару</span>
        </div>

        <div class="form__section">
          {{!-- /product-list ???--}}
          <a href="/product-edit" class="form__button form__button--product-edit form__button--primary click">Зберегти оновлення</a>
          
          <a href="/product-delete?id={{id}}" class="form__button form__button--product-edit form__button--danger click">Видалити товар</a>
        </div>
        {{/with}}

      </div>
    </form>
  </section>
</main>


{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}