{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

 
<main class="main">
  {{>heading title="Мої замовлення"}}
  <div class="list">
    
    {{#each data.list}}
    <a href="/purchase-info?id={{id}}" class="list_link">
      <div class="list__item">
        <div class="list__column">ID: {{id}}</div>
        <div class="list__column">
          <div class="list__label">Товари</div>
          <div class="list__value">{{product.title}}</div>
        </div>
        <div class="list__column">
          <div class="list__label">Сума замовлення</div>
          <div class="list__value">{{totalPrice}} грн</div>
        </div>
        <div class="list__column">
          <div class="list__label">Нараховані бонуси</div>
          <div class="list__value">{{bonus}} грн</div>
        </div>
      </div>
      {{>divider}}
    </a>
    {{/each}}
  
  </div>
</main>


{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}