{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main>
  <h1 class="title">Список товарів</h1>
  
  <section class="product__list">
    
    {{#each data}}
      <form action="/product-list" method="POST" class="form product-card">
      
        <h2 class="product-card__name">{{name}}Name</h2>
        <p class="product-card__description">
          {{description}}desc
        </p>
        <div class="product-card__id">{{id}}</div>
        <div class="product-card__bottom">
          <span class="product-card__price">{{price}} грн</span>
          <a href="/product-edit?id={{id}}" class="product-card__link">Редагувати</a>
        </div>

    
      </form>
    {{/each}}
  </section>
</main>


{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}